.start-screen{
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .start-box{
        height: 100vh;
    }
    .start-label-box{
        position: absolute;
        bottom: 6rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;

        img{
            height: auto;
            width: 40vw;
            cursor: pointer;
            &:hover{

                filter: brightness(1.25);
            }
        }
    }
}